<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>BRUTAL - Milestone 1</title>

    <meta name="description" content="The BRUTAL Operating System" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../config.css">
    <link rel="icon" href="../favicon.svg" />

    <style type="text/css">
        body {
            background-image: url("../background.png");
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="p-8 md:p-16 m-auto bg-white max-w-2xl mt-8">

        <a href="../index.html" class="text-6xl font-bold">
            BRUTAL
        </a>