<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>BRUTAL - Milestone 1</title>

    <meta name="description" content="The BRUTAL Operating System" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="../config.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../favicon.svg" />
</head>

<body>
    <div style="font-size: 4em; font-weight: bold;">
        <a href="../index.html" style="text-decoration: none; color: black;">
            BRUTAL
        </a>
    </div>